{{ form_start(form) }}
<table>
    <tr>
        <td>
            {{ form_widget(form.csv) }} 
        </td>
        <td>
            {{ form_widget(form.submit) }}
        </td>
    </tr>
</table>
{{ form_rest(form) }}